html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body::before{
    display: block;
    content: '';
    height: 60px;
}

@media (min-width:768px){
    .news-input{
        width: 50%;
    }
}